body {
    font-size: 15pt;
} 
h1{
 color:blue;
 text-align:center;
}
h2{
 color:orange;
 text-decoration:underline;
}
p
{
 color:black;
}

.practicando{
 color:red;
background-color:black;
}
.cebolla{
 color:black;
 background-color:silver;
 text-decoration :underline;
 letter-spacing :3px;

 
 }